.birthday-app {
  margin-bottom: 2rem;
}

.add-birhtday {
  display: flex;
}

.add-birhtday form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form label {
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

form input[type="text"] {
  margin-left: 0.5rem;
}

form button {
  width: 6rem;
  height: 3rem;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background: var(--primary-set2-1);
  color: white;
  border: none;
  border-radius: 0.25rem;
  outline: none;
}

form button:hover {
  cursor: pointer;
  background: var(--primary-set2-4);
}

.congratulations {
  flex: 1;
  font-family: "Montserrat", sans-serif;
}

.birthday-display {
  margin: 1rem;
}

.congratulations p {
  font-size: 1rem;
  margin: 0.4rem;
}

@media screen and (max-width: 900px) {
  .birthday-app {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .add-birhtday {
    flex-direction: column;
    align-items: center;
  }

  form button {
    margin: 1rem auto;
  }
}
