.burger-menu {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.line {
  width: 100%;
  border: 2px solid black;
  border-radius: 2px;
  margin: 4px 0;
}

.burger-menu:hover {
  cursor: pointer;
}
