.sidebar {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.sidebar button {
  border: none;
  background: var(--primary-set2-1);
  outline: none;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  transition: all 0.4s;
  border-right: 1px solid var(--primary-set1-4);
}

.sidebar button:hover {
  cursor: pointer;
  background: var(--primary-set2-4);
}

.sidebar button:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

.sidebar button:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
  border-right: none;
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }

  #active {
    display: flex;
    flex-direction: column;
  }
}
