.watter-app {
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}

.watter-intake {
  flex: 1;
  padding-top: 2rem;
}

.watter-intake p {
  font-size: 1.5rem;
  padding: 0.8rem;
}

.watter-intake button {
  font-size: 2rem;
}

.watter-intake button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 1rem;
  outline: none;
  color: white;
  background: rgb(124, 190, 235);
  border: none;
}

.watter-intake button:hover {
  cursor: pointer;
}

.chart {
  flex: 2;
  padding-top: 2rem;
  padding-right: 2rem;
  height: auto;
}

canvas {
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .watter-app {
    flex-direction: column;
  }
}
